*{font-family: 'Source Sans Pro', sans-serif;}
p{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#vision{
  background-image: url("../images/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.scroll{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: -webkit-inline-box;
  bottom: 10px;
  padding: 10px;
  font-size: 14pt;
  color: #fff;
}

.scroll:hover,
.scroll:focus{
  color: #fff;
  text-decoration: none;
}

.filter{
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.4);
}

.navbar{
  width: 100%;
  height: 70px;
  z-index: 2;
  background-color: #25292c;
  border: none;
  border-radius: 0px;
  transition: all .2s ease-in-out;
  height: 85px;
  padding-top: 5px;
}

.navbar > .container-fluid{
  height: 70px;
}

.navbar-brand{
  padding: 5px 0px 0px 200px;
}

.navbar-logo{
  height: 60px;
}

.navbar-right{
  margin-top: 15px;
  margin-left: 20px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: transparent;
}

.active{
  color: #04D0FF !important;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #04D0FF !important;
}

.navbar-default .navbar-nav>li>a.sign-up-menu{
  background-color: #04D0FF;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav>li>a.sign-up-menu:hover{
  background-color: #06a1c5;
}
.navbar-default .navbar-nav>li>a.sign-up-menu:hover,
.navbar-default .navbar-nav>li>a.sign-up-menu:focus{
  color: #fff !important;
}

.line{
  height: 50px;
  width: 1px;
  background-color: #fff;
}

.content{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}

.content > h1{
  font-size: 7vw;
  color: #fff;
  font-weight: bold;
}

.content > h3{
  color: #fff;
}

.content > button{
  background-color: #04d0ff;
  border: none;
  color: #fff;
  font-size: 2vw;
  margin-top: 25px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 25px;
  transition: all .3s ease-in-out;
}

.content > button:hover{
  background-color: #06a1c5;
}

#welcome{
  background-image: url("../images/features-bg.jpg");
}

#welcome > .header{
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 30px;
}

#welcome > .header > #icons-line{
  width: 350px;
  position: absolute;
  top: 230px;
  border: 1px dashed #c0c0c0;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

#welcome > .header > img{
  cursor: pointer;
}

#discover-icon{
  width: 120px;
  background-color: #f2484b;
  padding: 28px 28px;
  border-radius: 35px;
  margin-top: 25px;
  margin-right: 50px;

}

#discover-icon.active{
  box-shadow: 0 0 0 3px white, 0 0 0 6px #f2484b;
}

#friends-icon{
  width: 120px;
  background-color: #b5e425;
  padding: 28px 28px;
  border-radius: 35px;
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 50px;
}

#friends-icon.active{
  box-shadow: 0 0 0 3px white, 0 0 0 6px #b5e425;
}

#planning-icon{
  width: 120px;
  background-color: #04d0ff;
  padding: 28px 28px;
  border-radius: 35px;
  margin-top: 25px;
  margin-left: 50px;
}

#planning-icon.active{
  box-shadow: 0 0 0 3px white, 0 0 0 6px #04d0ff;
}

#welcome > .info{
  text-align: center;
  margin-top: 30px;
  position: relative;
  height: 700px;
}

#welcome > .info > div > img{
  width: 85%;
  margin-top: 20px;
}

#welcome > .info > div{
  opacity: 0;
  transition: all .7s ease-in-out;
  position: absolute;
}

.details-active{
  opacity: 1 !important;
}

#discover{
  padding-bottom: 40px;
  text-align: center;
      background-image: url("../images/features-bg.jpg");
}

#discover > .header > h1{
  margin-bottom: 50px;
  margin-top: 20px;
}

#discover > .footer > button{
  background-color: #04d0ff;
  border: none;
  color: #fff;
  font-size: 1.5vw;
  margin-top: 25px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 25px;
  transition: all .3s ease-in-out;
}

#community > .header{
  background: #3a3c42;
  padding: 30px 0;
  text-align: center;
  color: #fff;
}

#community > .references{
  background-image: url(../images/members.png);
  height: 400px;
}

.carousel-inner > .item{
  height: 400px;
}

.carousel-inner > .item > img{
  width: 150px;
  height: 150px;
  border-radius: 90px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}

.carousel-inner > .item > .carousel-caption{
  font-size: 16pt;
  font-style: italic;
  margin-bottom: 50px;
  text-align: center;
}

.carousel-inner > .item > .carousel-caption > p{
  width: 50%;
  margin: 0 auto;
}

footer{
  background-color: #04d0ff;
  text-align: center;
  padding: 4em;
}

.footer-menu > ul{
  list-style: none;
  display: -webkit-inline-box;
  font-size: 14pt;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-menu > ul > li{
  margin: 0px 30px 20px;
}

footer > section > img{
  width: 250px;
}

ul.social {
  padding: 1.5em;
  list-style: none;
  cursor: default;
}

ul.social li {
  display: inline-block;
  margin: 0 1.5em;
}

ul.social li a {
  font-size: 2.75em;
  display: inline-block;
  
}

.social i{
  color: #fff;
}

.social-text{
  font-size: 1.7em;
  color: #fff;
}

.copyright{
  background-color: #04d0ff;
  margin-bottom: -10px;
  text-align: center;
}

.copyright .container{
  padding: 3em;
  border-top: 1px solid;
  border-color: #fff;
  color: #fff;
}

/* Share buttons */

.sharer{
  position: fixed;
  display: block;
  top: 50%;
  left: 0;
  z-index: 10;
}

.sharer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.facebook-share{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px 14px;
  font-size: 20px;
}

.twitter-share{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px 10px;
  font-size: 20px;
}

.google-share{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px 10px;
  font-size: 20px;
}